<p id="notice"><%= notice %></p>

<h1>Sandwiches</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Main image</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sandwiches.each do |sandwich| %>
      <tr>
        <td><%= sandwich.title %></td>
        <td><%= sandwich.description %></td>
        <td><%= sandwich.main_image %></td>
        <td><%= sandwich.price %></td>
        <td><%= link_to 'Show', sandwich %></td>
        <td><%= link_to 'Edit', edit_sandwich_path(sandwich) %></td>
        <td><%= link_to 'Destroy', sandwich, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sandwich', new_sandwich_path %>
