<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ingredient.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ingredient.price %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
