<%= form_with(model: side, local: true) do |form| %>
  <% if side.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(side.errors.count, "error") %> prohibited this side from being saved:</h2>

      <ul>
      <% side.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :side_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :side_description %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :side_size %>
  </div>

  <div class="field">
    <%= form.label :main_image %>
    <%= form.text_field :main_image, id: :side_main_image %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :side_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
