<!DOCTYPE html>
<html>
  <head>
    <title>SensuousSandwich</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon/favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

    <div class="site-wrapper">
      <div class="cover-container">
        
        <div class="nav-header">
            <%= render "shared/nav" %>
          </div>
        <%= yield %>
        
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        
         
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
  
</html>
